.book-icon {
    position: absolute;
    color: #fff;
    top: .1rem;
    font-size: 1.1rem;
    right: 2rem;
    border-left: 1px #fff solid;
    padding-left: .7rem;
    padding-bottom: .2rem;
}

.products {
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.search {
    position: relative;
    display: flex;
    top: .5rem;
    left: 1rem;
    width: 95%;
    height: 2rem;
    overflow-x: hidden;
}

.search-bar::placeholder {
    color: #fff;
}

.search-icon {
    position: absolute;
    color: #fff;
    padding-left: .5rem;
    padding-top: .2rem;
}


.search-bar {
    width: 94.5%;
    padding-left: 2rem;
    background-color: black;
    border: #fff 1px solid;
}

.drop-list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.drop-text {
    background-color: #1F1E1E;
    padding: 1rem;
    width: 100%;
}

.drop-text p {
    padding-top: .5rem;
    font-size: smaller;
}

.view-shop {
    padding-top: 1rem;
    justify-content: space-between;
    display: flex;
}


.vh-btn {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    padding: .3rem;
    color: #fff;
    background-color: #1F1E1E;
    border: #fff 1px solid;
}

.drop--img {
    width: 100%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/img/img1-drops.svg);
}