

.flex {
    display: flex;
    align-items: center;
}

.subscription-main {
    height: auto;
    padding: .5rem;
    padding-top: 2rem;
    max-width: 520px;
    padding-bottom: 2rem;
}

.store-header {
    text-align: center;
    margin-top: 2rem;
}

.store-header p {
    margin-top: .5rem;
    font-size: small;
}

.price--container {
    display: grid;
    place-items: center;
    color: black;
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    margin-top: 2rem;
    
    /* padding: 1rem; */
    width: clamp(320px, 90vw, 520px); /* Adjust the values as needed */
    padding: 1vw; /* Adjust the padding as needed */
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}

/* @media (min-width: 390px) {
    .price--container {
        padding: 1rem 2.9rem;
    }
}


@media (min-width: 440px) {
    .price--container {
        padding: 1rem 4rem;
    }
}

@media (min-width: 470px) {
    .price--container {
        padding: 1rem 4.5rem;
    }
}

@media (min-width: 520px) {
    .price--container {
       width: 520px;
    }
} */

.details-wrap {
    margin-top: 1rem;
}

.sub-time {
    color:  #979191;
}


.sub-amount {
    font-weight: 800;
    color: #301448;
}

.check {
    color: #14181F;
}

.flex p {
    font-size: small;
}


.price--container h2 {
    padding-top: 1.5rem;
    color: #1E30D3 !important;
}