main {
    min-height: 100vh !important;
    padding: 1rem;
    width: 100%;
}

.profile-header {
    margin-bottom: 2rem;
}

.profile {
    width: 100%;
}


.portfolio {
    display: flex;
    border: 1px solid #fff;
    padding: .5rem;
    margin-bottom: 1rem;
    height: 3rem;
    align-items: center;
}

.portfolio img {
    width: 30px;
    height: 30px;
    margin-left: .5rem;
    margin-right: 1rem;
}

.create-icon {
    margin-left: .5rem;
    padding-right: 1rem;
    font-size: 1.4rem;
}

