.main {
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.profile-icons {
    padding-left: 0;
}

.post-job-top  {
    margin-bottom: 2rem;
}


.container {
    border: #fff solid 1px;
    min-height: 100vh;
    padding: .5rem;
}


.post-job--wrap {
    min-height: 100vh;
    background-color: #fff;
    padding: 1rem;
}

.black-text {
    color: #000;
}

.q-wrap {
    gap: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.q-text {
    font-size: small;
    font-weight: bold;
    
}

/* .q-no {
    
} */


/* checkboxes  */

.q-check-boxes {
    gap: 1rem;
    margin: 1rem 0;
    margin-left: 1.5rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: .2rem;
  }

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid #000;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
  }

  input[type="checkbox"]:checked {
    background-color: #000;
  }

  label {
    font-size: small;
    color: black;
  }

.company-wrap {
    margin-left: 1.5rem;
    gap: 1rem;
    width: auto;
    height: auto;
}

.company-name-input {
    padding: .3rem;
}

.com-web-input {
    margin-top: .4rem;
    padding: .3rem;
}

.jop-q-wrap {
    margin-top: 1rem;
    padding-left: 1.7rem;
    justify-content: space-between;
    padding-right: 1rem;
}

.q-input {
    padding: .2rem;
}

.q-title {
    font-size: x-small;
}


/* checkbox below */


.circle-checkbox {
    margin-top: 3rem;
    align-items: center;
}


.circle-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid #000;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
    flex-shrink: 0;
  }

#uniqueCheckbox {
    flex-grow: 1;
}

  .circle-checkbox input[type="checkbox"]:checked {
    background-color: #000;
  }

  .circle-checkbox label {
    margin-left: .5rem;
    font-size: x-small;
    color: black;
    
  }