/* Profile page  */
.main-padding {
    padding: 1rem 1rem;
    height: auto;
}

.profile-icons {
    padding-left: 0 !important;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-section {
    border: white solid 1px;
    padding: 1rem;
    margin: 1rem 0;
    height: auto;
}

.profile-img-details {
    display: flex;
}

.profile-img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }



.name-date {
    padding-left: .5rem;
    /* text-transform: ; */
}

.date-joined {
    font-size: xx-small;
}

.bio {
    margin-top: 1rem;
    display: flex;
    font-size: clamp(.64rem, 0.5vw, 1rem);
    gap: .5rem;
}



.address {
    margin-top: 1rem;
    line-height: 1rem;
    font-size:  clamp(.64rem, 0.5vw, .7rem);
}


.portfolio {
    display: flex;
    border: white solid 1px;
    align-items: center;
    margin-bottom: 1rem;
    padding: .8rem 1rem;
}

.profile-icons {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: .5rem;
}

.profile-logout {
    display: flex;
    background-color: black;
    color: white;
    border: solid 1px #fff;
    padding: .5rem .7rem;
    align-items: center;
   
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.logout {
    font-size: 1.2rem;
    padding-right: 0.3rem;
}