.quick-action--main {
    min-height: 100vh;
    width: clamp(320px, 90vw, 520px);
    margin: 0 auto; /* Center the main element on the page */
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.actions-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.action-btn {
    background-color: #000;
    color: #fff;
    border: #fff 1px solid;
    padding: 1rem;
    margin: .5rem 0;
    width: 100%;
}

.profile-icons {
    padding-left: 0;
}

section {
    width: 100%;
}