.main {
    padding: 1rem;
    min-height: 100vh;
}


.profile-icons {
    padding-left: 0 !important;
}

.flex {
    display: flex;
    align-items: center;
}

.search-wrap {
    position: relative;
}

.btn-wrap {
    position: absolute !important;
    top: .8rem !important;
    left: 1rem !important;
    gap: .9rem !important;
    z-index: 10 !important;
    width: 22% !important;
    display: block !important;
}

.hire-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: #fff 1px solid;
    padding-bottom: .2rem;
    font-size: small;
}

.jobs-btn {
    color: #8E8E8E;
    background-color: transparent;
    border: none;
    padding-bottom: .2rem;
    font-size: small;
}

.search-icon {
    position: absolute !important;
    color: #fff !important;
    right: 0 !important;
    padding-right: 1rem !important;
}


.search {
    position: relative !important;
    display: flex !important;
    top: .5rem !important;
    margin: auto !important;
    width: 100% !important;
    height: 2rem !important;
    overflow-x: hidden !important;
    align-items: center !important;
    margin-top: 1rem !important;
    border: 1px solid #fff !important;
    margin-bottom: 3rem !important;
    overflow-y: hidden !important;
    padding: 1.1rem !important;
}


.search-bar {
    width: 94.5% !important;
    padding: 1rem !important;
    padding-left: 2rem !important;
    border: none !important;
    background-color: transparent !important;
    position: relative !important;
    right: -3rem !important;
    color: #fff !important;
    
}

.search-bar::placeholder {
    color: #fff !important;
    position: relative !important;
    padding-left: 3rem !important;
}

.search-bar:focus {
    outline: none !important;
}


.results-no {
    display: block;
    position: relative;
    color: #8E8E8E;
    top: -1.8rem;
}


.porfolio-section {
    display: block;
}

.portfolio-container {
    position: relative;
    padding: .5rem;
    border: 1px solid #fff;
    margin-bottom: 1rem;
}


.porfolio-text {
    width: 100%;
    height: auto;
    color: black;
    background-color: #fff;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.user-name {
    color: black;
    font-size: smaller;
}
/* 
.banner, .porfolio-text {
    display: inline-block;
    margin: 0 !important;
} */

.porfolio-wrap {
    display: grid;
   grid-template-rows: 1fr auto;
}

.text-wrap {
    padding: 0.5rem;
    text-align: center;
}

.user-skills {
    font-size: xx-small;
}

.user-location {
    margin: auto;
    align-items: center;
    gap: 0.2rem !important;
}

.location-text {
    color: black;
    font-size: xx-small;
}

.location-icon {
    font-size: x-small;
    position: relative;
    top: 0.02rem;
}

.user-location-wrap {
    display: flex;
    align-content: center;
}


.user-profile-pic {
    position: absolute;
    top: 2rem;
    width: 90px;
    height: 90px;
    left: 1rem;
    background-image: url(/assets/img/inboxdp1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    border: 7px solid black;

}



.jobs-section {
    display: none;
}

.jobs-section {
    position: relative;
    top: -1.8rem;
    gap: .5rem;
}

.profession-wrap {
    margin-top: 3.5rem;
    gap: 1rem;
}


.freelance-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding-bottom: 0.2rem;
    border-bottom: #fff 1px solid;
    /* font-size: small; */
}

.fulltime-btn {
    color: #8E8E8E;
    background-color: black;
    border: none;
    /* font-size: small; */
}

.result__no--small {
    font-size: small;
    color: #8E8E8E;
}


.result__text--small {
    font-size: small;
    color: #8E8E8E;
}

.result-wrap {
    padding-top: .4rem;
}

.job-post--container {
    margin-top: 1.5rem;
    padding: .5rem;
    border: #fff 1px solid;
}



.job-post--wrap {
    position: relative;
    background-color: #fff;
    padding: .5rem;
    align-items: flex-start;
    justify-content: space-between;
}

.company-name {
    color: #000;
    font-size: large;
}


.job-role {
    font-size: smaller;
}


.job-location {
    font-size: smaller;
}


.profile-icons--black {
    color: #000;
}

.job-subtext {
    padding-top: .5rem;
    font-size: .65rem;
}


.address-icon {
    font-size: .9rem;
    padding-left: 0.5rem !important;
    padding-right: 0.1rem !important;
}


.icon-size--small {
    font-size: 1rem !important;
}


.flex-item {
    padding: 0 !important;
    flex-grow: 0; /* Default value, takes up space as required by content */
    flex-basis: auto; /* Default value, calculates based on content */
}

.flex-item-expanded {
flex-grow: 1; /* Takes up remaining available space */
padding: .5rem !important;
}

.like-freelancer--wrap {
    gap: .5rem !important;
    position: absolute;
    top: 1rem;
    right: .5rem;
}

.job-post--img  {
    position: relative;
    margin-top: .5rem;
}


/* post job icon */

.icon-job {
    position: absolute;
    right: 0;
    display: none;
}