.settings-container {
    border: 1px white solid;
    padding: .7rem;
    min-height: 100vh;
    margin-top: 1rem;
}

.settings__tab {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

.profile-icons {
    font-size: 1.3rem;
    padding-right: 1rem;
    /* padding-left: 2rem; */
}



.settings-border {
    padding: .5rem;
    border: solid white 1px;
    margin-bottom: 1rem;
}

.side-title {
    position: relative;
    text-align: right;
    top: -7.3rem;
    right: .4rem;
    font-size: small;
    color: #B0B0B0;
}

.side-title-wallet {
    position: relative;
    text-align: right;
    font-size: small;
    top: -10.3rem;
    right: .4rem;
    color: #B0B0B0;
}

.side-title-billing  {
    position: relative;
    text-align: right;
    top: -7rem;
    right: .4rem;
    font-size: small;
    color: #B0B0B0;
}



.side-title-notification {
    position: relative;
    text-align: right;
    top: -3.4rem;
    right: .4rem;
    font-size: small;
    color: #B0B0B0;
}

.notify {
    position: relative !important;
    margin-top: 1rem !important;
    padding: .4rem 0 !important;
}

.side-title-feedback {
    position: relative;
    text-align: right;
    top: -7.4rem;
    right: .4rem;
    font-size: small;
    color: #B0B0B0;
}

.settings__tab h3 {
    font-size: 0.9rem;
}

@media screen and (min-width: 350px) {
    .settings__tab h3 {
        font-size: 1rem;
      }
}
    