
.showcase-main {
   min-height: 100vh;
   padding: 1rem;
   background-color: #fff;
   width: clamp(320px, 90vw, 520px);
   margin: 0 auto; /* Center the main element on the page */
}

.showcase-top {
    display: flex;
    justify-content: space-between;
    color: black;
}

section {
  width: 320px;
}

.header-title {
    color: black;
}

.header-subtext {
    color: #b7b7b7;
}


/* carousel */

.carousel {
    position: relative;
    width: 360px; /* Adjust the width as needed */
    height: 320px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    width: 320px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-images img {
    width: 33.33%;
    object-fit: cover;
  }
  
  .carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel-pagination label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-pagination label:hover {
    background-color: #555;
  }
  
  .carousel-pagination input[type="radio"] {
    display: none;
  }
  
  .carousel-pagination input[type="radio"]:checked + label {
    background-color: #fff;
  }


  

  .products-wrapper {
    overflow-x: auto;
    max-width: 100%; /* Adjust this value as needed */
}

.products--container {
  padding: 1rem;
  min-width: auto; /* Set to a suitable value based on your content */
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for webkit-based browsers */
.products--container::-webkit-scrollbar {
  display: none;
}

.products--sub-container {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
}


  .product--showcase {
    flex: 0 0 auto;
    box-shadow: 0px 0px 13px -8px rgba(0,0,0,1);
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    background-image: url(/assets/img/iphone-store-main.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  .about-store {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: .5rem 1rem;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }