.main {
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.store-top {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.profile-icons {
    padding-left: 0;
}

.store-title {
    font-weight: lighter;
    letter-spacing: 1.5px;
}


/* portfolio section  */


.portfolio-container {
    position: relative;
    padding: .5rem;
    border: 1px solid #fff;
    margin-bottom: 1rem;
}


.porfolio-text {
    width: 100%;
    height: auto;
    color: black;
    background-color: #fff;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-name {
    color: black;
}
/* 
.banner, .porfolio-text {
    display: inline-block;
    margin: 0 !important;
} */

.porfolio-wrap {
    display: grid;
   grid-template-rows: 1fr auto;
}

.text-wrap {
    padding: 0.5rem;
    text-align: center;
}

.user-skills {
    font-size: smaller;
}

.user-location {
    margin: auto;
    align-items: center;
    gap: 0.5rem;
}

.location-text {
    color: black;
    font-size: smaller;
}

.user-location-wrap {
    display: flex;
    align-content: center;
}


.user-profile-pic {
    position: absolute;
    top: 2rem;
    width: 90px;
    height: 90px;
    left: 1rem;
    background-image: url(/assets/img/inboxdp1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    border: 7px solid black;

}