
.showcase-main {
   min-height: 100vh;
   padding: 1rem;
   background-color: #fff;
   width: clamp(320px, 100vw, 520px);
   margin: 0 auto; /* Center the main element on the page */
   overflow-x: hidden;
  }

.showcase-top {
    display: flex;
    gap: 6rem;
    color: black;
}

section {
  width: 320px;
}

.header-title {
    color: black;
}

.header-subtext {
    color: #b7b7b7;
}


  
.products-scroll {

  width:  clamp(320px, 100vw, 520px);
  display: grid;
  grid-auto-flow: column;
  margin-top: 1rem;
  padding: 1rem;
  overflow-x: auto; /* Hide the scrollbar */
  overscroll-behavior-inline: contain;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS devices */
  scroll-behavior: smooth; /* Smooth scrolling */
  cursor: grab; /* Set cursor to "grab" when hovering over the container */
  }

.products-scroll::-webkit-scrollbar {
   display: none;
}




.products-scroll:active {
cursor: grabbing; /* Set cursor to "grabbing" when container is clicked and dragged */
}
  
  /* Set a small width to hide scrollbar space */







  .product--showcase {
    margin-right: 1rem;
    flex: 0 0 auto;
    box-shadow: 0px 0px 13px -8px rgba(0,0,0,1);
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    background-image: url(/assets/img/iphone-store-main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  
  


  .about-store {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: .5rem 1rem;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }