
.showcase-main {
   min-height: 100vh;
   padding: 1rem;
   background-color: #fff;
   width: clamp(320px, 100vw, 520px);
   margin: 0 auto; /* Center the main element on the page */
}

.showcase-top {
    display: flex;
    justify-content: space-between;
    color: black;
}

section {
  width: 320px;
}

.header-title {
    color: black;
}

.header-subtext {
    color: #b7b7b7;
}


  

.products-wrapper {
    overflow-x: auto;
    max-width: 100%; /* Adjust this value as needed */
}

.products--container {
  padding: 1rem 0;
  min-width: auto; /* Set to a suitable value based on your content */
  white-space: nowrap;
  /* display: inline-block; */
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for webkit-based browsers */
.products--container::-webkit-scrollbar {
  display: none;
}

.products--sub-container {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    /* margin-bottom: 1rem; */
}


  .product--showcase {
    flex: 0 0 auto;
    box-shadow: 0px 0px 13px -8px rgba(0,0,0,1);
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    background-image: url(/assets/img/iphone-store-main.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  .about-store {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: .5rem 1rem;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }