/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/

    --text-color: white;
    --body-color: black;
    --title-color: white;

    /* --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    
    
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    place-items: center;
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    /* overflow-x: hidden; */
    /* background-image: url(/assets/img/bg-body.svg);
    background-position: center center;
    background-size: contain; */
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}


main {
    background-color: #000;
    max-width: 520px !important;
    position: relative;
}


.main--index {
    width: clamp(320px, 100vw, 520px);
    padding: 0 .5rem;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== NAV ====================*/

#header {
    margin: 0;
    padding: .4rem 1rem;
    width: clamp(320px, 100vw, 520px);
    height: 45px;
    background-color: #4f4f4f;
    position: relative;
}

.top {
    /* position: relative; */
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.nav-list {
    z-index: 1000;
    position: absolute; 
    left: -200%;
    top: 0rem;
    /* display: flex; */
    width: clamp(320px, 100vw, 520px);
    height: 100vh;
    background-color: black;
    font-size: .9rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.show-menu {
    left: 0;
}

.menu-btn {
    z-index: 1000;
    position: relative;
    top: .3rem;
}

.logo   {
    position: absolute;
    left: 3.5rem;
    padding-top: .4rem;
}

.nav-icon--size {
    font-size: large;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.close-menu {
    z-index: 1000;
    bottom: 2rem;
}

.close-menu--text {
    font-weight: normal;
}

.close-menuicon {
    font-size: 1.5rem;

}

.drops {
    position: relative;
    top: 1rem;
    border: white solid 1px;
    padding: 0.5rem 12rem 0.5rem 0.5rem;
    width: 100%;
    height: auto;
}


.menu-wrap {
    padding-left: 1rem;
}

@media screen and (max-width: 559px) {

    .menu-wrap {
        padding-left: .5rem;
    }

    
}

@media screen and (min-width: 560px) {
    .menu-wrap {
        padding-left: 0rem;
    }
  }

.market-menu {
    position: relative;
    top: 3rem;
    border: white solid 1px;
    padding: 0.5rem 9rem 0.5rem 0.5rem;
    width: 100%;
    height: auto;
}

.help {
    position: relative;
    top: 5rem;
    width: 100%;
    height: auto;
}

.share-menu {
    position: relative;
    top: 6rem;
    width: 100%;
    height: auto;
}

/* .menu-btn {
    
} */




/* market */

.market {
    padding: 1rem 0 0 .4rem;
}

.sub-menu {
    display: flex;
    padding-left: 0rem;

}

.sub-menu h3 {
    font-weight: var(--font-light);
    padding-left: .5rem;
    font-size: var(--normal-font-size);
    text-transform: uppercase;
}

.sm-text {
    letter-spacing: .07rem;
    font-size: x-small !important;
}

.search--index  {
    margin-top: 1rem;
    position: relative;
    margin-left: .5rem;
    /* padding: 0 1rem; */
    display: flex;
    align-items: center;
}

/* padding-right: 1.08rem; px 1280 

padding-right: 1.1rem; 800 - 1000ish */

/* @media screen and (min-width: 321px) and (max-width: 2000px) {
    .search--index {
        padding-right: 1.09rem;
    }
  } */


.search-icon--index {
    left: .7rem;
    color: #fff;
    position: absolute;
    
}

.search-bar--index {
    width: clamp(290px, 85vw, 486px);
    /* width: 486px; */
    margin: 0 1;
    color: #fff;
    padding: .5rem 0;
    background-color: #000;
    border: 1px solid #fff;
    border-bottom: none;
}



/* @media screen and (min-width: 617px) {
    .search-bar--index {
        width: clamp(290px, 76vw, 520px);
    }
} */



.filter--index {
    position: relative;
    left: .5rem;
    width: clamp(290px, 85vw, 486px);
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}


.filter {
    padding: 3px .5rem;
    width: 9%;
    height: 2rem;
    border-style: none solid none none;
    border-width: 1px;
}


@media screen and (min-width: 340px) and (max-width: 370px) {
    .filter {
        width: 11%;
    }
  }








@media screen and (min-width: 617px) {

    .search-bar--index {
        width: clamp(290px, 76vw, 462px);
    }


    .filter--index {
        width: clamp(290px, 76vw, 462px);
    }

    .filter {
        width: 8%;
    }
}


@media screen and (max-width: 585px) and (min-width: 525px) {

    .search-bar--index {
        width: clamp(280px, 85vw, 600px);
    }

    .filter--index {
        width: clamp(280px, 85vw, 600px);
    }

    .filter {
        width: 7.5%;
    }

}


@media screen and (max-width: 616px) and (min-width: 585.5px) {

    .search-bar--index {
        width: clamp(280px, 85vw, 600px);
    }

    .filter--index {
        width: clamp(280px, 85vw, 496px);
    }

    .filter {
        width: 7.5%;
    }
}



@media screen and (max-width: 327px) {

    .search-bar--index {
        width: clamp(280px, 76vw, 486px);
    }

    .filter--index {
        width: clamp(280px, 76vw, 462px);
    }

    .filter {
        width: 11%;
    }
}


.search-bar--index::placeholder {
    color: #fff;
    padding-left: 2rem;
}





.newlist {
    padding-left: .5rem;
    width: 80%;
    height: 2rem;
}

.newlist-text {
    font-size: var(--small-font-size);
    padding-left: .5rem;
}

.newlist-icon {
    position: relative;
    top: .2rem;
    font-size: 1rem;
}

.clear {
    padding-left: .5rem;
    padding-top: .5rem;
    font-size: var(--small-font-size);
}

.line {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}


.products {
    padding: 0 1rem;
    width: clamp(300px, 90vw, 520px);
    height: auto;
    /* display: flex;
    align-items: center; */
    display: grid;
    place-items: center;
    flex-direction: column;
}

.products-item {
    margin-top: 2rem;
    border: solid 2px #7700bc42;
    border-radius: 8px;
    box-sizing: border-box;
    width: clamp(250px, 85vw, 330px);
    height: auto;
    padding-bottom: 1rem;
    display: grid;
    align-items: center;
}




.products-img {
    position: relative;
    max-height: 180px;
    width: auto;
    margin-top: 1rem;
    right: -5rem;
    margin-bottom: 2rem;
}

.product-detail {
    padding-left: 2em;
    width: auto;
    height: auto;
}

.product-detail h3 {
    font-size: small;
}

.product-detail h4 {
    font-size: smaller;
}

.product-detail p {
    font-size: x-small;
    padding-right: 2rem;
}

.product-detail a {
    font-size: smaller;
}

.products-price {
    font-weight: normal;
}

.products-subtext {
    padding-top: .3rem;
    color: #505050;
    font-size: var(--small-font-size);
}
.products-details {
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    color: #7600BC;
}



/* Product headset */

.crossed {
    color: #8E8E8E;
    font-weight: normal;
    padding-left: 1rem;
    text-decoration: line-through;
}


.loadmore {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.loadmore-btn {
    color: white;
    border: 1px solid white;
    background: none;
    padding: 0.5rem 1rem;
}


/* Create Account */


.new-account {
    display: none;
}

#account {
    padding: 3rem 2rem 1rem 2rem;
    height: 100vh;
    display: none;
}

.account-heading {
    font-size: 2.5rem;
    line-height: 1em;
    padding-bottom: .5em;
}

.form {
    height: 3em;
    width: 100%;
    margin-top: 1em;
    background-color: black;
    border: 1.5px solid white;
}

.form::placeholder {
    position: relative;
    font-size: smaller;
    top: -.5rem;
    left: .7rem;
    color: #8E8E8E;
}

.form-subtext {
    padding-top: .4rem;
    font-size: x-small;
    color: #8E8E8E;
}

.sign-btn {
    margin-top: 1rem;
    width: 100%;
    padding: .6rem;
    font-weight: 800;
    font-size: var(--normal-font-size);
}

.sign-subtext {
    padding-top: .4rem;
    text-align: center;
    font-size: x-small;
    color: #8E8E8E;
}

.log-flex {
    display: flex;
    justify-content: center;
}


.log-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: var(--normal-font-size);
    padding-top: .5rem;
    font-weight: 800;
}

/* Verify Account */



#verify {
    padding: 3rem 2rem 1rem 2rem;
    height: 100vh;
    display: none;
}

.verify-heading {
    text-align: center;
    font-size: 2.3rem;
}

.verify-subtext {
    padding-top: .2rem;
    text-align: center;
    font-size: small;
    color: #8E8E8E;
}

.verify-form {
    height: 3em;
    width: 100%;
    margin-top: 1em;
    background-color: black;
    border: 1.5px solid white;
}

.verify-form::placeholder {
    position: relative;
    font-size: smaller;
    padding-left: 14.7rem;
    color: #8E8E8E;
}

.verify-btn {
    margin-top: 1rem;
    width: 100%;
    padding: .6rem;
    font-weight: 800;
    font-size: var(--normal-font-size);
}


/* Welcome */

#welcome {
    padding: 3rem 2rem 1rem 2rem;
    height: 100vh;
}

.welcome-heading {
    font-size: 2.3rem;
    line-height: 1.3;
}

.show-pass {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    top: -2.1rem;
    margin-left: 16.7rem;
    z-index: 900;
    background-color: black;
    border: none;
}

.forgot-pass {
    position: relative;
    color: #8E8E8E;
    font-size: smaller;
    top: -1.1rem;
    padding-left: 12.3rem;
    text-align: right;
}

.create-acct {
    padding-top: 1rem;
    text-align: center;
    font-weight: 700;
}


/* Password reset */   

#reset {
    padding: 3rem 2rem 1rem 2rem;
    height: 100vh;
    display: none;
}

.reset-heading {
    font-size: 2.1rem;
}









/* br .parent {
    line-height: 3em;
} */

/* footer */


.footer {
    top: 2rem;
    background-color: #8E8E8E;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    height: auto;
    width: 100%;
    padding: 1rem;
}

.footer-text {
    font-size: var(--smaller-font-size);
}

.footer-subtext {
    font-size: .6rem;
}

.rights {
    text-align: center;
    font-size: var(--smaller-font-size);
    padding: .4rem 0rem;
    background-color: #4f4f4f;
    width: 100%;
}



/* .footer-grid {
    display: grid;
    height: auto;
    width: 100%;
    background-color: #8E8E8E;
} */